:root{
    --color:rgb(129, 240, 85);
     --subcolor:rgb(180, 163, 240);
}
.box{
    height: 100px;
    width: 100%;
    border: 2px solid black ;
    background-color: rgb(235, 155, 155);
}
.box1{
    background-color: var(--color);
   
}
.box2{
    background-color: var(--subcolor);
   
}
